{% extends 'base.html' %}

{% block title %}
    {{ title|title }}
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="tt-icon-box">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x" style="color:#51B46D;"></i>
                <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
            </span>
        <h6>Your password has been successfully updated.</h6>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}
