{% extends 'base.html' %}

{% block title %}
    {{ title|title }}
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    {% if form.errors %}
        <div class="karma_notify message_red" style="font-size: 13px;">
            <p>Your input is invalid. Please try again.</p>
        </div>
    {% endif %}
    <h2>Password Change</h2>
    <form method="post" action=".">
        <ul class="input-list style-1 clearfix no-bullets">
            <li>{{ form.as_p }}</li>
        </ul>
        {% csrf_token %}
        <button type="submit" class="ka_button small_button small_tealgrey">Update</button>
    </form>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}
