{% extends 'base.html' %}

{% block title %}
    {{ title|title }}
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <h6 class="heading-horizontal" style="margin:20px 0 40px 0;">
        <span>Interface Reset Password</span>
    </h6>
    <div class="one_third tt-column">
        <p></p>
    </div>
    <div class="one_third tt-column">
        <div align="center">
            <div class="tt-icon-box">
                <p>
                    We've emailed you instructions for setting a new password.
                </p>
                <p>
                    If you did not receive an email, please make sure you've
                    entered the correct address you registered with.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}
