<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td bgcolor="#A5A6A4">
            <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td bgcolor="#A5A6A4"> 
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="width: 600px;" border="0" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td bgcolor="#19292E" width="600" height="12"> 
                    </td>
                </tr>
                <tr>
                    <td width="600" height="98">
                        <img src="https://puroxy.org/imgemails/puroxymainlogo.png" alt="main header image" width="600"
                             height="98"/>
                    </td>
                </tr>
                <tr>
                    <td width="600" height="42">
                        <img src="https://puroxy.org/imgemails/layout-gradient-top.jpg" alt="subtle gradient image"
                             width="600" height="42"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="width: 600px;" border="0" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td bgcolor="#F4F4F2">
                        <table style="width: 530px;" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                            <tr>
                                <td>
                                    <table style="width: 530px;" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                        </tr>
                                        <tr>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <img src="https://puroxy.org/imgemails/spacer.gif" alt="" width="10" height="20"/>
                                    <table style="width: 530px;" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td width="30"> 
                                            </td>
                                            <td valign="top" width="330">
                                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #000000; font-weight: bold; padding: 0px; margin: 0px 0px 10px 0px;">
                                                    Password Reset Request
                                                </p>
                                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #000000; line-height: 20px; width:100%;">
                                  <span>You have successfully requested a password reset for your Puroxy Interface account. Follow the link below to create your new password.
                                  </span>
                                                    <br/>
                                                    <br/>
                                                    <span>
                                    {{ protocol }}://{{ domain }}{% url 'interface:password_reset_confirm' uidb64=uid token=token %}
                                  </span>
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <img src="https://puroxy.org/imgemails/spacer.gif" alt="" width="10" height="20"/>
                                    <img src="https://puroxy.org/imgemails/content-divider-normal.jpg" alt=""
                                         width="530" height="50"/>
                                    <img src="https://puroxy.org/imgemails/spacer.gif" alt="" width="10" height="10"/>
                                    <table style="width: 530px;" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" width="160">
                                                <img src="https://puroxy.org/imgemails/ticket2.png" alt="" width="160"
                                                     height="93"/>
                                                <br/>
                                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; line-height: 18px;">
                                                    Don't hesitate to connect with us over a support ticket, we are
                                                    available throughout the day. Open a support ticket
                                                    <a href="https://puroxy.io/interface/tickets/">here</a>.
                                                </p>
                                            </td>
                                            <td width="25"> 
                                            </td>
                                            <td valign="top" width="160">
                                                <img src="https://puroxy.org/imgemails/phone1.png" alt="" width=""
                                                     height="93"/>
                                                <br/>
                                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; line-height: 18px;">
                                                    Our support center is constantly monitored. Contact us with any
                                                    issues you have by giving us a call.
                                                </p>
                                            </td>
                                            <td width="25"> 
                                            </td>
                                            <td valign="top" width="160">
                                                <img src="https://puroxy.org/imgemails/email2.png" alt="" width="160"
                                                     height="93"/>
                                                <br/>
                                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; line-height: 18px;">
                                                    If you have any pre-sale questions, the best way to get prompt and
                                                    quick responses is by emailing <a href="mailto:sales@puroxy.io">sales@puroxy.io</a>
                                                    .
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- END MODULE - 3 columns -->
                                    <img src="https://puroxy.org/imgemails/spacer.gif" alt="" width="10" height="20"/>
                                    <img src="https://puroxy.org/imgemails/content-divider-normal.jpg" alt=""
                                         width="530" height="50"/>
                                    <img src="https://puroxy.org/imgemails/spacer.gif" alt="" width="10" height="10"/>
                                    <!-- START MODULE - big image left -->
                                    <table style="width: 530px;" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" width="800">
                                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #000000; line-height: 20px;">
                                                    Best Regards,
                                                    <br/> Puroxy Internet Intelligence
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="width: 600px;" border="0" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td width="600" height="41">
                        <img src="https://puroxy.org/imgemails/layout-gradient-bottom.jpg" alt="subtle gradient image"
                             width="600" height="41"/>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#19292E" width="600" height="10"> 
                    </td>
                </tr>
                <tr>
                    <td width="600" height="98">
                        <img src="https://puroxy.org/imgemails/layout-footer.jpg" alt="bottom footer image" width="600"
                             height="98"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td bgcolor="#A5A6A4"> 
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
