{% extends 'main_base.html' %}

{% block title %}
    Blog
{% endblock title %}

{% block seo %}
    {{ block.super }}
{% endblock seo %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <main role="main" id="content">
        {% for post in posts %}
            <div class="tt-icon-box">
                <a href="{% url 'blog:detail' post.slug %}" class="no-underline">
                    <h2>{{ post.title|title }}</h2>
                </a>
                <smalltext>
                    <i class="fa fa-calendar"></i> Date Posted: {{ post.created|date:'m-d-Y' }} |
                    <i class="fa fa-user"></i> Author: {{ post.user|title }}
                </smalltext>
                {{ post.body|safe|truncatechars:650 }}
                <div align="right">
                    <a href="{% url 'blog:detail' post.slug %}"
                       class="ka_button small_button small_tealgrey">Read More</a>
                </div>
            </div>
            <br class="clear"/>
        {% empty %}
            <div class="karma_notify message_blue" style="font-size: 13px;">
                <p>No new blog posts :(</p>
            </div>
        {% endfor %}
        {% include 'pagination.html' with page=posts %}
    </main>

    <aside role="complementary" id="sidebar" class="right_sidebar">
        <div class="sidebar-widget">
            <h4>Useful Links</h4>
            <div class="textwidget">
                <ul class="list list1">
                    <li><a href="{% url 'blog:list' %}">Blog Posts</a></li>
                    <li><a href="{% url 'main:about' %}">About Us</a></li>
                </ul>
            </div>
        </div>
    </aside>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}

