{% extends 'main_base.html' %}

{% block title %}
    DMCA Policy
{% endblock title %}

{% block seo %}
    <meta name="description"
          content="PuroxyIO Digital Millennium Copyright Act (DMCA) information regarding legal information."/>
    <meta name="keywords" lang="en" content="puroxyio, about, about us, dmca"/>
    <meta name="robots" content="index, follow"/>
    <meta name="page-topic" content="dmca"/>
    <meta name="author" content="Puroxy.io"/>
    <meta name="copyright" content="Puroxy.io"/>
    <meta name="revisit-after" content="7 days"/>
    <meta http-equiv="content-language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
{% endblock seo %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <h3>DMCA Policy <smalltext>complaints, abuse, interruptions, misuse</smalltext></h3>
    <p><u>What is the DMCA?</u> <br>
        The DMCA (Digital Millennium Copyright Act) was passed by the U.S. Congress in 1998 to deal with copyright
        infringement by electronic means, particularly with regard to the Internet. Additional information can be found
        here.<br>
        <br>
        <u>Directions for Notification</u><br>
        Please send claims of infringement pursuant to Section 512(c) of the Digital Millennium Copyright Act to:
        <i>sales@puroxy.io</i><br>
        <br>
        In order to expedite our ability to process the request, the following format (including section numbers) is
        requested. A proper notification must have at least the following information:
        Identification in detail of the copyrighted work claimed to have been infringed upon, and the website or IP
        address it appears on.
        Identification of the material that Complainant claims is infringing the copyrighted work listed in item #1
        above (or a representative list of such works at that site).
        Information reasonably sufficient to permit Puroxy to contact Complainant (IP Address and contact email
        address).
        The following statement: "I have a good faith belief that use of the copyrighted materials described above on
        the allegedly infringing web pages is not authorized by the copyright owner, its agent, or the law, including
        but not limited to copyright exceptions such as fair use doctrine which allow use for news, parodies, research,
        and review."
        The following statement: "I swear, under penalty of perjury, that the information in the notification is
        accurate and that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right
        that is allegedly infringed."<br>
        Physical signature of the copyright owner or a person authorized to act on behalf of the copyright owner.<br>
        <br>
        <u>Customer Violations</u><br>
        In large part, the process used to mediate DMCA offenses is detailed within the Acceptable Use Policy,
        specifically in the section Resolution of AUP Violations. Depending on the severity of any DMCA complaint
        received by Puroxy from a verified party, a Customer's service(s) may be suspended immediately, pending initial
        response from the Customer. Puroxy complies fully with ALL copyright infringement complaints received.<br>
        <br>
        <u>Reinstatement</u><br>
        Puroxy is required by law to remove or block access to customer content upon receipt of a proper notice of
        copyright infringement. It is also Puroxy's policy to terminate the privileges of customers who commit repeat
        violations of copyright laws. Puroxy will cooperate fully with any civil or criminal litigation arising from the
        violation of this policy.
        If we receive a counter notification from our subscriber, we will reinstate the material in question unless we
        receive, during the period stated in the DMCA, notice from the Complainant that it has filed an action at the
        appropriate district court seeking a court order to restrain our subscriber from engaging in infringing
        activity.</p>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}
