{% extends 'main_base.html' %}

{% block title %}
    Offshore Dedicated Servers
{% endblock title %}

{% block seo %}
    <meta name="description"
          content="Our Offshore Dedicated Server packages come equipped with SSD, Premium Bandwidth, High Speeds, and many other features!"/>
    <meta name="keywords" lang="en"
          content="offshore dedicated servers, offshore dedicated server hosting, offshore btc dedicated servers, btc vps hosting, dedicated hosting, btc web hosting, ssd linux vps, ssd windows vps, windows vps, offshore dedicated servers, bitcoin web hosting, bitcoin hosting, bitcoin vps, bitcoin dedicated server">
    <meta name="robots" content="index, follow"/>
    <meta name="page-topic" content="offshore dedicated server, offshore server"/>
    <meta name="author" content="Puroxy.io"/>
    <meta name="copyright" content="Puroxy.io"/>
    <meta name="revisit-after" content="7 days"/>
    <meta http-equiv="content-language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <main role="main" id="content" class="content_full_width">
        <div class="callout-wrap">
            <div align="center">
                <span>
                    Our variety of <i>Offshore Dedicated Server</i> packages allows
                    you to select the right level of service for your specific needs.
                </span>
            </div>
        </div>

        {% for p1, p2 in products %}
            <div class="one_half tt-column">
                <div class="tt-icon-box">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#53BBB4;"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2><u>{{ p1.name }} - ${{ p1.price }}/month</u></h2>
                    <ul class="no-bullets">
                        <li>{{ p1.description|linebreaks }}</li>
                    </ul>
                    <a href="{% url 'order:detail' p1.slug %}"
                       class="ka_button small_button small_tealgrey">Order</a>
                </div>
            </div>
            <div class="one_half_last tt-column">
                <div class="tt-icon-box">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#53BBB4;"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2><u>{{ p2.name }} - ${{ p2.price }}/month</u></h2>
                    <ul class="no-bullets">
                        <li>{{ p2.description|linebreaks }}</li>
                    </ul>
                    <a href="{% url 'order:detail' p2.slug %}"
                       class="ka_button small_button small_tealgrey">Order</a>
                </div>
            </div>
            {% empty %}
            <div class="tt-icon-box">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#B4D3E8;"></i>
                    <i class="fa fa-sad-cry fa-stack-1x fa-inverse"></i>
                </span>
                <h2>There are currently no available products</h2>
            </div>
        {% endfor %}

        <div class="one_third tt-column">
            <div class="tt-icon-box">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#009999;"></i>
                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                </span>

                <h3>Enterprise</h3>
                <p>
                    All of our dedicated servers feature only enterprise grade hardware.
                    The server chassis and motherboard are manufactured by Supermicro,
                    complemented by Intel processors to ensure reliability and stability.
                </p>
            </div>
        </div>
        <div class="one_third tt-column">
            <div class="tt-icon-box">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#E15258;"></i>
                    <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
                </span>
                <h3>100% Up-time</h3>
                <p>
                    At PuroxyIO, our services come equipped with real time up-time guarantees.
                    Our premium network is backed by top notch hardware, multiple up-links,
                    thorough data imaging, and robust infrastructure.
                </p>
            </div>
        </div>
        <div class="one_third_last tt-column">
            <div class="tt-icon-box">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#D3A9FF;"></i>
                    <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Efficiency</h3>
                <p>
                    Our network was built with speed and security in mind.
                    We consistently run network speed tests with a reliable
                    connection for you. With the best hardware available,
                    our network provides outstanding speed.
                </p>
            </div>
        </div>
    </main>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}
