{% extends 'main_base.html' %}

{% block title %}
    Onshore Dedicated Servers
{% endblock title %}

{% block seo %}
    <meta name="description"
          content="Our Onshore Dedicated Server packages come equipped with SSD, Premium Bandwidth, High Speeds, and many other features!"/>
    <meta name="keywords" lang="en"
          content="offshore dedicated servers, offshore dedicated server hosting, offshore btc dedicated servers, btc vps hosting, dedicated hosting, btc web hosting, ssd linux vps, ssd windows vps, windows vps, offshore dedicated servers, bitcoin web hosting, bitcoin hosting, bitcoin vps, bitcoin dedicated server">
    <meta name="robots" content="index, follow"/>
    <meta name="page-topic" content="onshore dedicated server, onshore server"/>
    <meta name="author" content="Puroxy.io"/>
    <meta name="copyright" content="Puroxy.io"/>
    <meta name="revisit-after" content="7 days"/>
    <meta http-equiv="content-language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
{% endblock seo %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <main role="main" id="content" class="content_full_width">
        <div class="callout-wrap">
            <div align="center">
                <span>
                    Our variety of <i>Onshore Dedicated Server</i> packages allows
                    you to select the right level of service for your specific needs.
                </span>
            </div>
        </div>

        {% for p1, p2 in products %}
            <div class="one_half tt-column">
                <div class="tt-icon-box">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#F9845B;"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2><u>{{ p1.name }} - ${{ p1.price }}/month</u></h2>
                    <ul class="no-bullets">
                        <li>{{ p1.description|linebreaks }}</li>
                    </ul>
                    <a href="{% url 'order:detail' p1.slug %}"
                       class="ka_button small_button small_tealgrey">Order</a>
                </div>
            </div>
            <div class="one_half_last tt-column">
                <div class="tt-icon-box">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#F9845B;"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2><u>{{ p2.name }} - ${{ p2.price }}/month</u></h2>
                    <ul class="no-bullets">
                        <li>{{ p2.description|linebreaks }}</li>
                    </ul>
                    <a href="{% url 'order:detail' p2.slug %}"
                       class="ka_button small_button small_tealgrey">Order</a>
                </div>
            </div>
            {% empty %}
            <div class="tt-icon-box">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#B4D3E8;"></i>
                    <i class="fa fa-sad-cry fa-stack-1x fa-inverse"></i>
                </span>
                <h2>There are currently no available products</h2>
            </div>
        {% endfor %}

        <div class="one_third tt-column">
            <div class="tt-icon-box">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#CD9BFF;"></i>
                    <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Monitoring</h3>
                <p>
                    Our network is monitored by highly experienced system
                    administrators and analysts. In the event of a hiccup,
                    you can rest assured we’ll already be working promptly
                    on a fix and a security patch.
                </p>
            </div>
        </div>
        <div class="one_third tt-column">
            <div class="tt-icon-box">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#62707D;"></i>
                    <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Privacy</h3>
                <p>
                    Our servers protect against up to a 300Gbps attack.
                    With the highest quality hardware and network, your
                    website, game-server, or anything else you may host
                    will never go down. You're safe with Puroxy.
                </p>
            </div>
        </div>
        <div class="one_third_last tt-column">
            <div class="tt-icon-box">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#91E889;"></i>
                    <i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Operating System</h3>
                <p>
                    Deploy your favorite linux operating system distribution
                    with a simple click of a button during checkout.
                    We provide the latest versions of Ubuntu, CentOS,
                    Debian, Arch Linux, Gentoo and many more!
                </p>
            </div>
        </div>
        <div class="one_third tt-column">
            <div class="tt-icon-box">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#89C9E8;"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h3>TOR Service</h3>
                <p>
                    We can setup a custom random .ONION domain for your site,
                    should you want to develop a TOR website.
                    Alternatively, you can order a <i>custom</i> 6-7 letter TOR
                    domain name upon checking out.
                </p>
            </div>
        </div>

        <div class="one_third tt-column">
            <div class="tt-icon-box">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#913B53;"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Elasticity</h3>
                <p>
                    We provide ultimate isolation using our dedicated servers.
                    We use top notch hardware and products to ensure your
                    server deployment will move seamlessly from start to finish. No hiccups!
                </p>
            </div>
        </div>
        <div class="one_third_last tt-column">
            <div class="tt-icon-box">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#FF9900;"></i>
                    <i class="fa fa-btc fa-stack-1x fa-inverse"></i></span>
                <h3>Crypto-currency</h3>
                <p>
                    Unlike most hosts, we have flexible payment method options
                    including Bitcoin (BTC), Bitcoin Cash (BCH), Ethereum (ETH), and Dash (DASH).
                    We join you in your crypto-currency enthusiasm!
                </p>
            </div>
        </div>
        <div class="tt-icon-box">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x" style="color:#2E8DEF;"></i>
            <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
        </span>
            <h3>Be sure to check out our Offshore Dedicated Server packages!</h3>
            <a href="{% url 'main:offshore_dedi' %}">
                <button type="submit" class="ka_button small_button small_tealgrey">
                    Offshore Dedicated Servers
                </button>
            </a>
        </div>
    </main>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}
