{% extends 'main_base.html' %}

{% block title %}
    Privacy Policy
{% endblock title %}

{% block seo %}
    {{ block.super }}
{% endblock seo %}

{% block stylesheets %}
    <meta name="description"
          content="PuroxyIO Privacy Policy information regarding legal information."/>
    <meta name="keywords" lang="en" content="about, about us, puroxyio history"/>
    <meta name="robots" content="index, follow"/>
    <meta name="page-topic" content="puroxyio, about, about us, dmca"/>
    <meta name="author" content="Puroxy.io"/>
    <meta name="copyright" content="Puroxy.io"/>
    <meta name="revisit-after" content="7 days"/>
    <meta http-equiv="content-language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
{% endblock stylesheets %}

{% block content %}
    <h3>Privacy Policy <smalltext>our security insurance to you</smalltext></h3>
    <p>
        <u>Mission</u> <br />
        Puroxy Internet Intelligence (hereafter referred to as Puroxy),
        has created a Privacy Policy which explains what information
        we gather on visitors and what we do with said information.
        This Privacy Policy governs the manner in which Puroxy collects,
        uses, maintains, and discloses information collected from users of this website (each, a “Client”)
        <br>
        <br>
        <u>Privacy</u><br>
        Clients' privacy is very important to Puroxy. We are committed to safeguarding the information Clients entrust to
        Puroxy.<br>
        <br>
        <u>The Information We Collect</u><br>
        Puroxy collects personally identifiable information from Clients through online forms for ordering products and
        services. We may also collect information about how Clients use our website, for example, by tracking the number
        of unique views received by the pages of the Web site or the domains from which Clients originate. We use
        "cookies" to track how Clients use our website.<br>
        <br>
        <u>How We Use Information</u><br>
        Puroxy may use personally identifiable information collected through our website to contact Clients regarding
        products and services offered by Puroxy and its trusted affiliates, independent contractors and business
        partners, and otherwise to enhance Clients' experience with Puroxy and such affiliates, independent contractors
        and business partners. At no time will Puroxy's database of Clients ever be sold to any entity for the purpose
        of marketing or mailing lists. Personal information will not be sold or otherwise transferred to our business
        partners without your prior consent, except that we will disclose the information we collect to third parties
        when, in our good faith judgment, we are obligated to do so under applicable laws.
    </p>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}
