{% extends 'main_base.html' %}

{% block title %}
    Terms of Service
{% endblock title %}

{% block seo %}
    {{ block.super }}
{% endblock seo %}

{% block stylesheets %}
    <meta name="description"
          content="PuroxyIO Terms of Service (ToS) information regarding legal information."/>
    <meta name="keywords" lang="en" content="about, about us, puroxyio history"/>
    <meta name="robots" content="index, follow"/>
    <meta name="page-topic" content="puroxyio, about, about us, dmca"/>
    <meta name="author" content="Puroxy.io"/>
    <meta name="copyright" content="Puroxy.io"/>
    <meta name="revisit-after" content="7 days"/>
    <meta http-equiv="content-language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
{% endblock stylesheets %}

{% block content %}
    <h3>Terms of Service
        <smalltext>our product and service rules</smalltext>
    </h3>
    <p>
        <u>Mission</u><br/>
        At Puroxy Internet Intelligence (hereafter referred to as Puroxy),
        we provide web hosting and server solutions to clients worldwide. We have a responsibility
        to protect each client and to provide the best service available.
        At Puroxy, all clients are subject to the following terms of service:
        <br/>
        <br/>
        <u>Indemnification Policy</u><br>
        You agree to use all Puroxy's services and facilities at your own risk. Puroxy specifically disclaims all
        warranties of merchantability and fitness for a particular purpose. In no event shall Puroxy be liable for any
        loss, or loss of data, or other commercial damage, including but not limited to special, incidental,
        consequential or other damages. Customer agrees that it shall defend, indemnify, save and hold Puroxy harmless
        from any and all demands, liabilities, losses, costs and claims, including reasonable attorney's fees asserted
        against Puroxy, its agents, its clients, officers and employees, that may arise or result from any service
        provided or performed or agreed to be performed or any product sold by customer, it's agents, employees or
        assigns. Customer agrees to defend, indemnify and hold harmless Puroxy against liabilities arising out of any
        injury to person or property caused by any products sold or otherwise distributed in connection with Puroxy's
        network.
        Puroxy reserves the right to intervene with any of the sites hosted on its servers in the interest of its
        customers. Any material supplied by customer infringing or allegedly infringing on the proprietary rights of a
        third party Copyright infringement any defective products sold to customer from Puroxy's server. Puroxy shall be
        the sole judge of what violates this policy.<br>
        <br>
        <u>Billing</u><br>
        At this time, we do not offer refunds. We currently accept PayPal, Bitcoin (BTC),
        Bitcoin Cash (BCH), Ethereum (ETH), and Ripple (XRP).
        There are no specified contract periods. For each successive period,
        contracts are automatically renewed unless we are otherwise notified.
        <br>
        <br>
        <u>Late Payments</u> <br>
        All accounts are billed according to the dates they were first activated on.
        If you do not pay for service renewal within 1 day of deactivation,
        your account will be suspended. If you do not pay for service renewal
        within 7 days of deactivation, your account will be terminated.
        You will receive an email reminder 7 and 1 day(s) before deactivation.
        <br>
        <br>
        <u>Acceptable Use Policy</u> <br>
        All services provided by Puroxy may be used for lawful purposes only. Transmission, storage, or presentation of
        any information, data or material in violation of any United States Federal, State or City law is prohibited.
        This includes, but is not limited to: copyrighted material, material we judge to be threatening or obscene, or
        material protected by trade secret and other statute. The subscriber agrees to indemnify and hold harmless
        Puroxy and its employees from any claims resulting from the use of the service which damages the subscriber or
        any other party. Our acceptable use policy is actively and strictly enforced. Offending content or users are
        suspended from our network, usually as soon as they are discovered, although we will always inform you when and
        why any action has been taken. Pornography is prohibited on all Puroxy's servers. This includes sites that
        include sexually explicit or hardcore images and/or advertising.
        Subscriber acknowledges that the service provided is of such a nature that service can be interrupted for many
        reasons other than the negligence of the company and that damages resulting from any interruption of service are
        difficult to ascertain. Therefore, subscriber agrees that the company shall not be liable for any damages
        arising from such causes beyond the direct and exclusive control of the company.<br>
        <br>
        Clients further acknowledges that the company's liability for its own negligence may not in any event exceed an
        amount equivalent to charges payable by subscriber for services during the period damages occurred. In no event
        shall the company be liable for any special or consequential damages, loss or injury.
        Illegality In any form, including but not limited to the unauthorized distribution or copying of copyrighted
        software or other data, harassment, fraud, trafficking in obscene material. Undesirable Content Certain types of
        content are not allowed on our network. We do not host adult content of any description. Content relating to
        Hacking, Cracking, Warez and IRC is not allowed. Software, audio and video downloads may only be hosted if you
        are the writer and copyright owner of the resources or you have a right to distribute the materials. Accounts
        suspended due to content or AUP violation are not refunded under any circumstances.<br>
        <br>
        <u>Prohibited Content</u><br>
        The following content is banned from use on our shared servers and may not be uploaded or run. Reasons for
        banning them include adverse effects on server load, invitations to hackers/spammers/criminal activity, etc.<br>
        - IRC eggdrop <br>
        - Proxy servers<br>
        - Mail bombers<br>
        - Anonymous mailers<br>
        - (D)DOSers and IP spoofers<br>
        - Port scanners<br>
        - Hivemail<br>
        - HTTP/IRC Botnets<br>
        - High resource/bandwidth consuming scripts<br>
        - Telnet or SSH Access Scripts<br>
        - Phishers<br>
        - CC controllers<br>
        - nph-proxy (and other scripts that operate like proxy)<br>
        - UBB (Ultimate Bulletin Board, all versions)<br>
        - Exploit scanners<br>
        - lstmrge.cgi<br>
        - phpShell<br>
        - FormMail.cgi, FormMail.pl from Matt's Script Archive are not allowed<br>
        <br>
        <u>Limitation of Liability</u><br>
        Puroxy shall not be responsible for any claimed damages, including incidental and consequential damages, which
        may arise from Puroxy servers going offline or being unavailable for any reason whatsoever. Furthermore, Puroxy
        shall not be responsible for any claimed damages, including incidental or consequential damages, resulting from
        the corruption or deletion of any website from one of Puroxy servers. All damages shall be limited to the
        immediate termination of your service(s).<br>
        <br>
        <u>Disclaimer</u><br>
        Puroxy cannot be held liable for system downtime, crashes, or data loss. We cannot be held liable for any
        predicted estimate of profits in which a client would have gained if their site was functioning. Certain
        services provided by Puroxy are resold. Thus, certain equipment, routing, software, and programming used by
        Puroxy are not directly owned or written by Puroxy. Moreover, Puroxy holds no responsibility for the use of our
        clients accounts. If any terms or conditions are failed to be followed, the account in question will be
        automatically deactivated. We reserve the right to remove any account without advanced notice for any reason
        without restitution as Puroxy sees fit. Furthermore, Puroxy retains the right to change any or all of the above
        Policies, Guidelines, and Disclaimer with notification.</p>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}
