<div class="footer-overlay">
    <div class="footer-content">
        <div class="one_third tt-column">
            <h3>Quick Navigation</h3>
            <div class="textwidget">
                <ul>
                    <li><a href="{% url 'main:hosting' %}">Web Hosting</a></li>
                    <li><a href="{% url 'main:linux_vps' %}">Linux VPS</a></li>
                    <li><a href="{% url 'main:win_vps' %}">Windows VPS</a></li>
                    <li><a href="{% url 'main:onshore_dedi' %}">Onshore Dedicated Servers</a></li>
                    <li><a href="{% url 'main:offshore_dedi' %}">Offshore Dedicated Servers</a></li>
                </ul>
            </div>
        </div>
        <div class="one_third tt-column">
            <h3>Connect with us</h3>
            <ul class="social_icons tt_vector_social_icons tt_no_social_title tt_image_social_icons">
                <li>
                    <a href="https://twitter.com/PuroxyIO" target="_blank"
                       class="twitter" title="Twitter">Twitter</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/PuroxyII" target="_blank"
                       class="facebook" title="Facebook">Facebook</a>
                </li>
            </ul>
            <h3>Contact us</h3>
            <div class="textwidget">
                <ul class="tt-business-contact">
                    <li><a href="mailto:sales@puroxy.io" class="tt-biz-email">sales@puroxy.io</a></li>
                </ul>
            </div>
        </div>
        <div class="one_third_last tt-column">
            <h3>Client Interface</h3>
            <div class="textwidget">
                <ul>
                    <li><a href="{% url 'services:list' %}">Services</a></li>
                    <li><a href="{% url 'order:list' %}">Order</a></li>
                    <li><a href="{% url 'invoices:list' %}">Invoices</a></li>
                    <li><a href="{% url 'tickets:list' %}">Tickets</a></li>
                    <li><a href="{% url 'blog:list' %}">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="footer_bottom">
    <div class="info">
        <div id="foot_left">&nbsp; Copyright &copy; 2018 PuroxyIO. All rights reserved.</div>
        <div id="foot_right">
            Made with <a href="http://github.com/ex8" target="_blank"><i class="fa fa-heart"></i></a>
        </div>
    </div>
</div>
